.crime-app-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
}

.crime-app-intro {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}
