.crime-app-header {
    color: #0E4F64;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.crime-app-intro {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 800px;
}
